In [1]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("/content/drive/My Drive/Copy of mospi_33_12.csv")
df1.head(5)
def river_info(df1,name):
  df1 = df1[df1["river_names"] == name]
  index = df1.parameters.unique()
  df1 = df1.reset_index(drop =True)
  df1.reset_index(inplace =True)
  new_df = pd.DataFrame()
  ind = 0
  for i in range(2001,2012):
    l1 = np.array(())
    for j in range(len(index)):
      l1 = np.append(l1,df1["value"][ind])
      ind = ind+1
    new_df[str(i)] = l1
  new_df=new_df.set_index(index)
  return new_df
print(df1.river_names.unique())
river = input("Enter river name: ").capitalize()
river_df = river_info(df1,river)
river_df.head(10)

['Ganga' 'Yamuna' 'Narmada' 'Godawari' 'Krishna' 'Cauvery' 'Mahanadi'
 'Brahmaputra']
Enter river name: ganga

                       2001        2002  ...      2010         2011
Temp                10.1-33        3-34  ...      4-35       3 - 37
pH                  6.1-9.0     6.4-9.0  ...   6.7-9.0    6.7 - 9.1
Conductivity        75-4910     19-2720  ...   21-5250   49 - 10240
DO                 1.2-11.4    207-11.5  ...    3.6-12      4 -14.3
BOD                0.2-16.5    0.5-16.8  ...    0.2-15       0.2-11
COD                  5-59.0        1.30  ...         -            -
Total Coliform    80-35x105  300-25x105  ...  3-14x105  5  - 25x105
Faecal Coliform    8-25x105   20-11x105  ...   2-4x105     5-11x105

[8 rows x 11 columns]

In [2]:
def isinteger(a):
    try:
        int(a)
        return True
    except ValueError:
        return False
ch = True
while ch == True:
  print("Please enter 1 to save in .xlsx format 0 to exit")
  choice = input("Please enter your choice  ")
  value = isinteger(choice)
  if value == True:
    if int(choice) == 1:
      river_df.to_excel("mospi_33_12_Faraz_Mew.xlsx")
      print("DataFrame is saved in xlsx format")
      break
    elif int(choice) == 0:
      break
    else:
      print("Wrong choice please try again")
      ch = True
  else:
    print("Wrong choice please try again")
  ch = True

Please enter 1 to save in .xlsx format 0 to exit
Please enter your choice  1
DataFrame is saved in xlsx format